<a href="https://colab.research.google.com/github/jill1609/Module-13-assignment/blob/main/Colab_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [ ]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [ ]:
# Import applicants_data.csv to Google Colab
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [ ]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [ ]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [ ]:
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [ ]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
# YOUR CODE HERE
print(categorical_variables)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [ ]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
# YOUR CODE HERE
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Obtaining numerical variables from original DataFrame
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the numerical variables DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [ ]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the DataFrame
# YOUR CODE HERE
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [ ]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
# YOUR CODE HERE
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [ ]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
# YOUR CODE HERE
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [ ]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  number_input_features

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

116

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  hidden_nodes_layer1

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

116

In [ ]:
# Create the Sequential model instance
nn = Sequential()

In [ ]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [ ]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [ ]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="relu"))

In [ ]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 116)               13572

 dense_1 (Dense)             (None, 116)               13572

 dense_2 (Dense)             (None, 1)                 117

=================================================================
Total params: 27,261
Trainable params: 27,261
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [ ]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 1.1909 - accuracy: 0.6977
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 1.2059 - accuracy: 0.6959
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 1.3601 - accuracy: 0.6927
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 1.1106 - accuracy: 0.7049
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9884 - accuracy: 0.7145
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0182 - accuracy: 0.7041
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.9773 - accuracy: 0.7104
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0082 - accuracy: 0.7043
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9209 - accuracy: 0.7209
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8221 - accuracy: 0.7256
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7682 - accuracy: 0.7210
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7937 - accuracy: 0.7234
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7616 - accuracy: 0.7248
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7678 - accuracy: 0.7236
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7731 - accuracy: 0.7289
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7386 - accuracy: 0.7276
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7527 - accuracy: 0.7188
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7382 - accuracy: 0.7233
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7548 - accuracy: 0.7258
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7333 - accuracy: 0.7271
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7372 - accuracy: 0.7224
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.7249 - accuracy: 0.7251
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7030 - accuracy: 0.7282
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7124 - accuracy: 0.7223
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7477 - accuracy: 0.7303
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7344 - accuracy: 0.7306
Epoch 27/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7154 - accuracy: 0.7275
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6952 - accuracy: 0.7216
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6699 - accuracy: 0.7218
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6467 - accuracy: 0.7300
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6640 - accuracy: 0.7314
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6729 - accuracy: 0.7116
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6315 - accuracy: 0.7273
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6178 - accuracy: 0.7285
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6017 - accuracy: 0.7301
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6188 - accuracy: 0.7309
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6333 - accuracy: 0.7316
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6150 - accuracy: 0.7293
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6117 - accuracy: 0.7304
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6097 - accuracy: 0.7324
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6082 - accuracy: 0.7324
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6225 - accuracy: 0.7317
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6249 - accuracy: 0.7330
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6128 - accuracy: 0.7305
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6192 - accuracy: 0.7309
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6173 - accuracy: 0.7343
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6223 - accuracy: 0.7313
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6263 - accuracy: 0.7270
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6235 - accuracy: 0.7317
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6260 - accuracy: 0.7310

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6366 - accuracy: 0.7312 - 709ms/epoch - 3ms/step
Loss: 0.6365560293197632, Accuracy: 0.731195330619812

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [ ]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer
files.download(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

117

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 1)

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

118

In [ ]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = (hidden_nodes_layer2_A1 + 1)

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

119

In [ ]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [ ]:

# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="sigmoid"))

# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 117)               13689

 dense_4 (Dense)             (None, 1)                 118

 dense_5 (Dense)             (None, 117)               234

 dense_6 (Dense)             (None, 1)                 118

 dense_7 (Dense)             (None, 117)               234

 dense_8 (Dense)             (None, 2)                 236

 dense_9 (Dense)             (None, 117)               351

 dense_10 (Dense)            (None, 2)                 236

 dense_11 (Dense)            (None, 117)               351

 dense_12 (Dense)            (None, 2)                 236

 dense_13 (Dense)            (None, 117)               351

 dense_14 (Dense)            (None, 2)                 236

 dense_15 (Dense)            (None, 117)               351

 dense_16 (Dense)            (None, 2)                 236

 dense_17 (Dense)            (None, 117)               351

 dense_18 (Dense)            (None, 2)                 236

 dense_19 (Dense)            (None, 117)               351

 dense_20 (Dense)            (None, 2)                 236

 dense_21 (Dense)            (None, 117)               351

 dense_22 (Dense)            (None, 2)                 236

 dense_23 (Dense)            (None, 117)               351

 dense_24 (Dense)            (None, 2)                 236

 dense_27 (Dense)            (None, 117)               351

 dense_28 (Dense)            (None, 1)                 118

=================================================================
Total params: 19,794
Trainable params: 19,794
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the Sequential model
# YOUR CODE HERE
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6939 - accuracy: 0.7384
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6652 - accuracy: 0.7390
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6700 - accuracy: 0.7380
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6631 - accuracy: 0.7392
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6837 - accuracy: 0.7385
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6657 - accuracy: 0.7392
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6603 - accuracy: 0.7396
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6692 - accuracy: 0.7393
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6699 - accuracy: 0.7390
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6625 - accuracy: 0.7400
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6629 - accuracy: 0.7379
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6695 - accuracy: 0.7366
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6757 - accuracy: 0.7394
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6614 - accuracy: 0.7385
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6546 - accuracy: 0.7378
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6441 - accuracy: 0.7395
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6534 - accuracy: 0.7386
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6521 - accuracy: 0.7392
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6499 - accuracy: 0.7391
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6484 - accuracy: 0.7399
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6509 - accuracy: 0.7406
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6390 - accuracy: 0.7389
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6358 - accuracy: 0.7392
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6799 - accuracy: 0.7360
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6688 - accuracy: 0.7391
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6519 - accuracy: 0.7381
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6539 - accuracy: 0.7384
Epoch 28/50
804/804 [==============================] - 5s 6ms/step - loss: 0.8836 - accuracy: 0.7228
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8830 - accuracy: 0.7222
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7778 - accuracy: 0.7302
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8258 - accuracy: 0.7239
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.8511 - accuracy: 0.7252
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8515 - accuracy: 0.7252
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8564 - accuracy: 0.7254
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8563 - accuracy: 0.7256
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8222 - accuracy: 0.7302
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6657 - accuracy: 0.7371
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6611 - accuracy: 0.7376
Epoch 39/50
804/804 [==============================] - 4s 6ms/step - loss: 0.6395 - accuracy: 0.7393
Epoch 40/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6550 - accuracy: 0.7346
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6615 - accuracy: 0.7391
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6600 - accuracy: 0.7402
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6787 - accuracy: 0.7382
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6980 - accuracy: 0.7377
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6802 - accuracy: 0.7387
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6768 - accuracy: 0.7383
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6466 - accuracy: 0.7406
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6442 - accuracy: 0.7413
Epoch 49/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6511 - accuracy: 0.7390
Epoch 50/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6520 - accuracy: 0.7407

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 3

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features - 1)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

115

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 - 1)

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

114

In [ ]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [ ]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="sigmoid"))

# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units=3, activation="relu"))

# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_25 (Dense)            (None, 115)               13455

 dense_26 (Dense)            (None, 3)                 348

=================================================================
Total params: 13,803
Trainable params: 13,803
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model
fit_model_A2 = nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6519 - accuracy: 0.7385
Epoch 2/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6489 - accuracy: 0.7395
Epoch 3/20
804/804 [==============================] - 3s 4ms/step - loss: 0.6491 - accuracy: 0.7392
Epoch 4/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6417 - accuracy: 0.7385
Epoch 5/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6423 - accuracy: 0.7372
Epoch 6/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6386 - accuracy: 0.7384
Epoch 7/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6465 - accuracy: 0.7319
Epoch 8/20
804/804 [==============================] - 3s 4ms/step - loss: 0.6369 - accuracy: 0.7393
Epoch 9/20
804/804 [==============================] - 3s 3ms/step - loss: 0.6343 - accuracy: 0.7395
Epoch 10/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6436 - accuracy: 0.7390
Epoch 11/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6472 - accuracy: 0.7393
Epoch 12/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6413 - accuracy: 0.7400
Epoch 13/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6416 - accuracy: 0.7378
Epoch 14/20
804/804 [==============================] - 3s 4ms/step - loss: 0.6602 - accuracy: 0.7380
Epoch 15/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6692 - accuracy: 0.7395
Epoch 16/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6743 - accuracy: 0.7390
Epoch 17/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6791 - accuracy: 0.7388
Epoch 18/20
804/804 [==============================] - 3s 4ms/step - loss: 0.6746 - accuracy: 0.7372
Epoch 19/20
804/804 [==============================] - 3s 4ms/step - loss: 0.6751 - accuracy: 0.7387
Epoch 20/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6601 - accuracy: 0.7392

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.7099 - accuracy: 0.7286 - 765ms/epoch - 3ms/step
Loss: 0.7098909616470337, Accuracy: 0.7286297082901001

In [ ]:
tf.config.run_functions_eagerly(True)

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 8s - loss: 0.8988 - accuracy: 0.4708 - 8s/epoch - 29ms/step
Loss: 0.8988093733787537, Accuracy: 0.4707871675491333

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 4s - loss: 7.4847 - accuracy: 0.0272 - 4s/epoch - 16ms/step
Loss: 7.484684944152832, Accuracy: 0.027172012254595757

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer
files.download(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer
files.download(file_path)